<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% if (!username) { %>
    <form method="POST" action="/login">
      <input type="text" name="username">
      <input type="submit" value="Sign in">
    </form>
  <% } else { %>
    <form method="POST" action="/logout">
      Hello, <%= username %>
      <input type="submit" value="Sign out">
    </form>
  <% } %>
</body>
</html>
