<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <a href="/register">Register</a>
  <% if (!user_current) { %>
    <a href="/login">Sign in</a>
    <%= user_current %>
<!--     <form method="POST" action="/login">
      <input type="text" name="username">
      <input type="submit" value="Sign in">
    </form> -->
  <% } else { %>
    <form method="POST" action="/logout">
      Hello, <%= user_current['id'] %>
      <input type="submit" value="Sign out">
    </form>
  <% } %>
</body>
</html>
