<!DOCTYPE html>

<html lang="en">
  <head></head>
  <body>
    <% include partials/_header %>
    <h1 align="center">New URL</h1></br></br>
    <div style="text-align:center">
      <form action="/urls" method="POST">
        <label for="longURL">Enter a URL</label>
        <input name="longURL" type="text" name="longURL" placeholder="http://" style="width:300px">
        <input type="submit" value="Submit" class="btn btn-info">
      </form>
    </div>
  </body>
</html>
